
<template>
<div uk-grid>
    <div class="uk-width-1-4">
      <div class="uk-padding">
        <div class="">
            <menu-items v-on:clicked-item="getClickedMenu($event)"></menu-items>
        </div>
      </div>
    </div>
    <menu-tabs v-bind:value="this.value"></menu-tabs>
</div>
</template>


<script>
    export default {
        mounted() {
            console.log('Admin Page' + this.value)
        },
        data: function() {
          return {
            value: ''
          }
        },
        watch: {
          value: function(clickedItem) {
            console.log(this.value + "watch");
          }
        },
        methods: {
          getClickedMenu: function(event) {
            this.value = event;
            console.log(this.value + "method");
          }
        }
    }
</script>
