
<template>
  <div>
  <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
      <li class="uk-nav-header heading uk-padding">Dashboard</li>
      <li><a href="" v-on:click.prevent="$emit('clicked-item', 'sessions')"><span class="uk-margin-small-right uk-padding-small" uk-icon="icon: settings"></span> Sessions</a></li>
      <li><a href="" v-on:click.prevent="$emit('clicked-item', 'genres')"><span class="uk-margin-small-right uk-padding-small" uk-icon="icon: tag"></span> Genres</a></li>
      <li><a href="" v-on:click.prevent="$emit('clicked-item', 'artists')"><span class="uk-margin-small-right uk-padding-small" uk-icon="icon: user"></span> Artists</a></li>
      <li><a href="" v-on:click.prevent="$emit('clicked-item', 'images')"><span class="uk-margin-small-right uk-padding-small" uk-icon="icon: image"></span> Images</a></li>
      <li class="uk-nav-divider"></li>
      <li><a href="" v-on:click.prevent="$emit('clicked-item', 'users')"><span class="uk-margin-small-right uk-padding-small" uk-icon="icon: users"></span> Users</a></li>
      <li><a href="" v-on:click.prevent="$emit('clicked-item', 'settings')"><span class="uk-margin-small-right uk-padding-small" uk-icon="icon: cog"></span> Settings</a></li>
    </ul>
  </div>
</template>


<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        data: function() {
          return {
            //some data
          }
        },
        methods: {
          // Do something
        }
    }
</script>
