
<template>
  <div class="uk-animation-slide-top-small">
    <ul uk-tab class="heading">
      <li v-bind:class="{ 'uk-active': allActive }" @click='activator("all")'><a href="#">Images</a></li>
      <li v-bind:class="{ 'uk-active': newActive }" @click='activator("new")'> <a href="#" >Upload New</a></li>
    </ul>
    <image-uploader v-if="active === 'new'"></image-uploader>
    <all-images-list v-if="active === 'all'"></all-images-list>
  </div>
</template>


<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        data: function() {
          return {
            active: 'all',
            allActive: true,
            newActive: false,
          }
        },
        methods: {
          activator: function(val) {
            this.active = val;
          }
        }
    }
</script>
