
<template>
<div class="uk-overflow-auto uk-animation-slide-right-small uk-padding">
  
</div>
</template>


<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
