
<template>
  <div class="uk-padding uk-animation-slide-right-small">
    <form>
      <fieldset class="uk-fieldset">

          <legend class="uk-legend heading">New Genre</legend>


      </fieldset>
    </form>
  </div>
</template>


<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
