
<template>
  <div class="uk-animation-slide-top-small">
    <ul uk-tab class="heading">
      <li v-bind:class="{ 'uk-active': allActive }" @click='activator("all")'><a href="#">All</a></li>
      <li v-bind:class="{ 'uk-active': newActive }" @click='activator("new")'> <a href="#" >Create</a></li>
      <li v-bind:class="{ 'uk-active': sessionActive , 'uk-disabled': sessionNotActive }" @click='activator("session")'><a href="#">Session</a></li>
    </ul>
    <new-session-form v-if="active === 'new'"></new-session-form>
    <all-sessions-list v-if="active === 'all'"></all-sessions-list>
  </div>
</template>


<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        data: function() {
          return {
            active: 'all',
            allActive: true,
            newActive: false,
            sessionActive: false,
            sessionNotActive: true
          }
        },
        methods: {
          activator: function(val) {
            this.active = val;
          }
        }
    }
</script>
