
<template>
  <div>
    <div class="uk-grid-small" uk-grid>
      <div class="uk-width-1-2@s">
        Artists
      </div>
      <div class="uk-width-1-2@s">
        Track
      </div>
    </div>
    <track-list-row></track-list-row>
    <track-list-row v-for="n in range"></track-list-row>

    <p uk-margin>
      <button id="addtrack" class="uk-button uk-button-default" v-on:click.prevent="addRow()"><span class="uk-margin-right" uk-icon="plus-circle"></span>Add Track</button>
    </p>
  </div>
</template>


<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        data: function() {
          return {
            range: 0
          }
        },
        methods: {
          addRow: function() {
            this.range += 1;
          }
        },
        updated(){
          let button = document.getElementById('addtrack');
          button.scrollBottom;
        }
    }
</script>
